.product{
  width: 283px;
  margin: 3rem;
  padding: 1rem;
  align-items: center;
 

}
.title{
  font-size: 20px;
  font-weight: bold;
}
.price{
  font-size: 18px;
  color: green;
}
.bttn-cart{
  background-color: #0400ed;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;

}
